@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

$orange: #ff7d1a;
$paleOrange: hsl(25, 100%, 94%);

// NEUTRAL 

$darkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);


$font_1: 'Kumbh Sans';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font_1;
}

p {
    font-size: 1vw;
}

img {
    cursor: pointer;
}